.critlabel {
  text-align: left;
}

.criteriaHeader,
.header {
  text-align: left;
}

.criteria {
  width: 40%;
  float:left;
}

.textInputBox {
  width: 60%;
  height: 100%;
  overflow:auto;
}

.newReview {
  width: 60%;
  height: 100px;
  border-style: groove;
}

textarea {
  width: 100%;
  height: 450%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.rateButton {
  float:right;
}
