.starTable {
  width:max-content;
  border-style:groove;
}

.starForm {
  width: 30%;
}

.criteriaHeader {
  text-align: left;
}


.oldReview {
  height: 80%;
  position: relative;
  top: 12%;
  border-style:groove;
}

.formContainer {
  margin-left: 20px;
  display:flex;
}

.leaveARating {
  margin-left: 20px;
  text-align: left;
}

.reviewForm {
  border-style:groove;
}

.buttonContainer {
  display:flex;
  justify-content:flex-end;
  margin-top: 1%;
  margin-right: 10%;
  margin-bottom: 1%;
}