.profile-box {
    height: 80%;
    width: 100%;
    min-width: 100%;
    background-color: rgb(253, 253, 253);
    font-size: 150%;
    border-radius: 10px;
}

.profile-pic {
    height: 85%;
    width: 100%;
}