.tag-box {
    margin-bottom: 2%;
    background-color: rgb(253, 253, 253);
    padding: 0;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 1%;
    margin-left: 8%;
    /* justify-content: space-evenly; */
}

.tag-button {
    margin-top: 1%;
}
