.signupForm {
    background-color: #EFF5FB;
    width: 250px;
    height: 410px;
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 51.5%;
    border-radius: 5%;
    margin: -70px 0 0 -170px;
}

#signupButton {
    background-color: #01A9DB;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.signupInput {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 5%;
    border: none;
}

.signup {
    line-height: 1;
    background-color: rgb(226, 224, 224);
    height: 100%;
    width: 100%;
}

.signupTitle {
    font-size: 20px;
}

.linkStyle {
    text-decoration: none;
    color: black;
}

#snackBarStyle {
    background-color: #d62400;
}

#signUpiCalDrop {
    margin-left: 5px;
    height: 50px;
    font-size: 15px;
    width: 235px;
    border-width: 1px;
    border-color: rgb(102, 102, 102);
    border-style: solid;
    border-radius: 5px;
}