.loginForm {
    background-color: #EFF5FB;
    width: 250px;
    height: 250px;
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 51.5%;
    border-radius: 5%;
    margin: -70px 0 0 -170px;
}

#loginButton {
    background-color: #01A9DB;
    border: none;
    border-radius: 10%;
    color: white;
    padding: 5px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.loginInput {
    width: 200px;
    height: 30px;
    font-size: 15px;
    border-radius: 5%;
    border: none;
}

.login {
    line-height: 1;
}

.loginTitle {
    font-size: 20px;
}