.starTable {
  width:max-content;
}

.starForm {
  width: 30%;
}

.ratingCriteriaHeader {
  text-align: left; 
}

.reviewForm {
  background-color: white;
  height: 23%;
}

.inputForm {
  width: 70%;
}

textarea {
  width: 80%;
  height: 100%;
}

form {
  height: 80%;
  position: relative;
  top: 12%;

}

.formContainer {
  margin-left: 20px;
  display:flex;
}

.leaveARating {
  font-size: 150%;
  margin-left: 20px;
  text-align: left;
}


.buttonContainer {
  display:flex;
  justify-content:flex-end;
  margin-top: 1%;
  margin-right: 10%;
  margin-bottom: 1%;
}